.container-fluid{
    width: auto;
    height: 800px;
    background-image: url(../images/bg.PNG);
    background-repeat: no-repeat;
}
.btn-lg{
    display: inline;
    font-size: 500px;
}
.col-xs-8{
    position: relative;
    top:160px;
    left: -70px;
    width: 80%;
    height: 50vh;
    background-color: black;
    opacity: 0.8;
    border-radius: 5px; 
}
.col-xs-8 h1{
    font-size: 5vh; !important;
    color: white !important;
    text-align: center;
}
.col-xs-8 h3{
    font-size: 4.1vh; !important;
    color: white !important;
    text-align: center;
}
.col-xs-8 .btn input{
    position: relative;
    top: 3vh;
    left: 2vh;
    height: 8vh;
    width: 36vw;   
}
.col-xs-8 .btn button{
    float: right;
    position: relative;
    left: 76px;
    top:-40px;
    width: 4vw;
    height: 8vh;
    background-color: blue;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    transform: translate(0);
}
.fxac{
    position: relative;
    top: 45px
}
.col-xs-2{
    color: white;
    height: auto;
    position: relative;
    left: -100px;
    top: 35px;
    font-size: 20px;
}
.navbar-brand {
    color: white !important;
    font-size: 30px !important;
}
.navright{
    color: white !important;
    font-size: 17px !important;
}




/*-------------------------------------
--------------------------------------*/


ul.list-social > li {
    padding-bottom: 5px;
}
.modal-header {
    min-height: 16.43px;
    padding: 8px;
    border-bottom: 1px solid #e5e5e5;
}
.modal-body{
  border-bottom: 2px solid #e5e5e5;
}
.modal-body .row .col-xs-6{
  border-left: 2px solid #e5e5e5;  
}
    
.modal-content{
/*    height: 376px;*/
    background-color: #edeff1;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
    text-align: center;
    font-size: 22px;
}
.modal-account{
    line-height: 1.42857143;
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 10px;
}
.modal-account a{
    line-height: 1.42857143;
    text-align: center;
    font-size: 19px;
    color: #d03a3c;
}
.facebook {
    color: white !important;
    background-color: #337ab7 !important;
    border-color: #2e6da4;
}
.google{
    color: #fff;
    background-color: crimson !important;
    border-color: #d03a5c;
}
.btn-default:hover { 
    color: white;
    background-color: #2b85c3 !important;
}
.google:hover{
    color: white;
    background-color: #d03a5c !important; 
}
.col-md-12{
    font-size: 16px;
    position: relative;
    top: -20px;
}
.btn-block{
    font-size: 16px;
}
.col-md-12 p{
    text-align: center;
    font-size: 15px;
    position: relative;
    top: 10px;
}
.col-md-12 p a{
    color: #d03a3c;
}
.fa-times{
    position: relative;
    top: -4vh;
    left: 35vw;
    font-size: 20px;
}
.well {
    border: none ;
    background-color: #edeff1;
    min-height: 20px;
    padding: 19px;
    margin-bottom: -5px;
}
.fg{
    color: white !important;
    font-size:  17px;
}
.modal-md{
    
    height: 52vh;
}

