.container-fluid{
    width: auto;
    height: 800px;
    background-image: url(../images/bg.PNG);
    background-repeat: no-repeat;
}
.col-xs-8{
    position: relative;
    top:160px;
    left: -70px;
    width: 80%;
    height: 50vh;
    background-color: black;
    opacity: 0.8;
    border-radius: 5px; 
}
.col-xs-8 h1{
    font-size: 5vh; !important;
    color: white !important;
    text-align: center;
}
.col-xs-8 h3{
    font-size: 4.1vh; !important;
    color: white !important;
    text-align: center;
}
.col-xs-8 .btn input{
    position: relative;
    top: 3vh;
    left: 2vh;
    height: 8vh;
    width: 36vw;   
}
.col-xs-8 .btn button{
    float: right;
    position: relative;
    left: 76px;
    top:-40px;
    width: 4vw;
    height: 8vh;
    background-color: blue;
}
.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    transform: translate(0);
}
.fxac{
    position: relative;
    top: 45px
}
.col-xs-2{
    color: white;
    height: auto;
    position: relative;
    left: -100px;
    top: 35px;
    font-size: 20px;
}
.navbar-brand {
    color: white !important;
    font-size: 30px !important;
}
.navright{
    color: white !important;
    font-size: 17px !important;
}